*{
    box-sizing: border-box;
}
#heading{
    margin-top: 5vw;
    margin-bottom: 2vw;
    text-align: center;
}
#container{
    /* display:flex;
    background-color:white;
    flex-wrap: nowrap; */
    margin:0 5vw;
    
    
}
/* .box1{
    width:33.3%;
    float:left;
    padding:15px;
    border:1px solid black;
}
.box2{
    width:33.3%;
    float:left;
    padding:15px;
    border:1px solid black;
}
.box3{
    width:33.3%;
    float:left;
    padding:15px;
    border:1px solid black;
}
.main{
    margin:10px;
    height:250px;
    border-radius: 10px;
    background-color: rgb(219, 214, 214);
}
button{
    float: right;
     padding:8px; 
     
     margin-right:-15px ;
    margin-top: -15px;
    border-radius: 5px;
    background-color: maroon;
    color: white;
    
} */


    /*for mobile*/
    [class*="col-"]{
        width:100%;
    }

@media only screen and(min-width:600px){
    /*for tablet*/
    .col-s-1{
        width:8.33%;
    }
    .col-s-2{
        width:16.66%;
    }
    .col-s-3{
        width:25%;
    }
    .col-s-4{
        width:33.33%;
    }
    .col-s-5{
        width:41.66%;
    }
    .col-s-6{
        width:50%;
    }
    .col-s-7{
        width:58.33%;
    }
    .col-s-8{
        width:66.66%;
    }
    .col-s-9{
        width:75%;
    }
    .col-s-10{
        width:83.33%;
    }
    .col-s-11{
        width:91.66%;
    }
    .col-s-12{
        width:100%;
    }
}


@media only screen and (min-width:768px){
    /*for desktop*/
    .col-1{
        width:8.33%;
    }
    .col-2{
        width:16.66%;
    }
    .col-3{
        width:25%;
    }
    .col-4{
        width:33.33%;
    }
    .col-5{
        width:41.66%;
    }
    .col-6{
        width:50%;
    }
    .col-7{
        width:58.33%;
    }
    .col-8{
        width:66.66%;
    }
    .col-9{
        width:75%;
    }
    .col-10{
        width:83.33%;
    }
    .col-11{
        width:91.66%;
    }
    .col-12{
        width:100%;
    }
}
.box{
    float: left;
    padding:10px;

}
.item-container{
    position: relative;
    background-color: #e1e3e1;
    padding: 65px 35px;
    border-radius:5px;
    border:1px solid black;

}
.menu-heading{
    position: absolute;
    top:0;
    right:0;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color:white;
border-radius: 5px;
background-color: #801327;
}
.item-description{
    text-align: justify;
}