* {box-sizing: border-box}

body {
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 100;
    font-stretch: normal;
}


.container1{
    display: flex;
     flex-flow: row wrap; 
      width: 90%; 
      margin: auto;
    }



.out{width: 100%;}

.box {
    flex:1;
    color: white;
    padding: 10px;
    margin: 10px 0 10px 15px;
    text-align: center;
    background-color:rgb(185, 15, 44);
}

section{
    display:flex;
}
article {
    flex: 1 200px;
    margin:10px;
    background-color: teal;
    text-align: center;
  }
  
  article:nth-of-type(3) {
    flex: 3 200px;
    display: flex;
    flex-flow: column;
  }
  article:nth-of-type(3) div:first-child {
    flex:1 100px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
  }
  button {
    flex: 1 auto;
    margin: 5px;
    font-size: 18px;
    line-height: 1.5;
  }
  .container2{
      width:90%;
      height:400px;
      background-color: white;
      margin:auto;
      border-color: rgb(187, 9, 98);
      border-width: 2px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: bolder;
  }
  .nav{
      background-color: rgb(187, 9, 98);
      height: 80px;
      text-align:center;
      color:white;
      /* align-self: center;
      justify-self: center; */
  }
  